In [62]:
import numpy as np
import pandas as pd

In [63]:
df_log = pd.read_csv('./feature_files/log.csv', header=None, names=['id', 'f'])
df_log

       id         f
0     100      view
1     101      view
2     101      view
3     101      view
4     101  purchase
...   ...       ...
2228  996      view
2229  996      view
2230  996      view
2231  997     click
2232  998     click

[2233 rows x 2 columns]

In [64]:
df_log = df_log.groupby('id').count()

In [65]:
clmns = [f'{i}' for i in range(1,21)]
for c in clmns:
    print(f'./feature_files/feature_{c}.csv')
    df = pd.read_csv(f'./feature_files/feature_{c}.csv', header=None, names=['id', c])
    df_log = pd.merge(df_log, df, on='id', how='left')
df_log

./feature_files/feature_1.csv
./feature_files/feature_2.csv
./feature_files/feature_3.csv
./feature_files/feature_4.csv
./feature_files/feature_5.csv
./feature_files/feature_6.csv
./feature_files/feature_7.csv
./feature_files/feature_8.csv
./feature_files/feature_9.csv
./feature_files/feature_10.csv
./feature_files/feature_11.csv
./feature_files/feature_12.csv
./feature_files/feature_13.csv
./feature_files/feature_14.csv
./feature_files/feature_15.csv
./feature_files/feature_16.csv
./feature_files/feature_17.csv
./feature_files/feature_18.csv
./feature_files/feature_19.csv
./feature_files/feature_20.csv

,id,f,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,100,1,1181.968054,456.352191,9.427243,48.777727,NaN,NaN,50.522812,NaN,...,2.064689,NaN,NaN,3.416031,29.029847,4960.121602,5426.528210,6222.788718,74.791830,2.179951
1,101,4,5996.517509,16.441583,NaN,33.278699,805.717154,0.230103,88.822875,1196.577689,...,9.603035,NaN,NaN,5.950621,9.720958,NaN,7964.523286,NaN,7.709466,6.956862
2,102,1,9079.605661,853.921305,932.653249,NaN,681.923908,0.505911,NaN,2075.486992,...,5.500306,NaN,0.490259,6.952456,53.581757,1691.985831,2410.502253,NaN,NaN,0.017770
3,103,4,9217.686409,397.455567,14.586806,47.116374,NaN,0.283457,46.490824,7936.908996,...,NaN,NaN,0.185532,8.481475,NaN,8492.408550,9917.080489,13.413598,58.112948,3.293579
4,104,3,NaN,158.848102,476.775234,57.885627,NaN,0.895338,14.704710,6946.647629,...,6.824114,10.156172,0.960983,5.891555,NaN,NaN,NaN,NaN,NaN,8.670554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,994,2,6178.533200,740.983210,NaN,NaN,NaN,0.308196,24.638798,7713.183743,...,NaN,23.320749,0.240861,1.394708,80.649051,NaN,6650.383041,NaN,44.397726,2.867788
895,995,2,NaN,593.299039,870.879799,NaN,124.793603,NaN,63.884825,NaN,...,2.942074,5.038767,0.516351,NaN,28.496001,NaN,NaN,8425.747358,22.465137,0.052199
896,996,4,4554.256473,NaN,NaN,14.160266,NaN,0.824070,NaN,NaN,...,NaN,34.810336,NaN,9.393522,NaN,5441.765851,6404.383113,9158.406543,31.959328,9.863387
897,997,1,7946.834741,468.825260,214.855042,39.863375,770.152940,NaN,NaN,9371.379207,...,8.053998,55.656349,NaN,NaN,60.438731,7668.807867,2146.745410,7005.986532,75.176811,NaN
898,998,1,804.564278,715.028372,NaN,NaN,612.385011,0.925232,27.678355,8195.449961,...,1.039095,NaN,NaN,NaN,71.900905,5211.089914,9465.173514,7258.940172,62.107665,7.130825

In [67]:
def count_na(row):
    #print(row)
    full = len(clmns)
    count = 0
    for c in clmns:
        if row[c] == row[c]:
            count += 1
    return count / full

In [78]:
print(len(clmns))

20

In [70]:
df_log.iloc[0]['1']

1181.9680537456345

In [73]:
df_log['not_na'] = df_log.apply(lambda row : count_na(row), axis = 1)

In [74]:
df_log

,id,f,1,2,3,4,5,6,7,8,...,12,13,14,15,16,17,18,19,20,not_na
0,100,1,1181.968054,456.352191,9.427243,48.777727,NaN,NaN,50.522812,NaN,...,NaN,NaN,3.416031,29.029847,4960.121602,5426.528210,6222.788718,74.791830,2.179951,0.70
1,101,4,5996.517509,16.441583,NaN,33.278699,805.717154,0.230103,88.822875,1196.577689,...,NaN,NaN,5.950621,9.720958,NaN,7964.523286,NaN,7.709466,6.956862,0.70
2,102,1,9079.605661,853.921305,932.653249,NaN,681.923908,0.505911,NaN,2075.486992,...,NaN,0.490259,6.952456,53.581757,1691.985831,2410.502253,NaN,NaN,0.017770,0.70
3,103,4,9217.686409,397.455567,14.586806,47.116374,NaN,0.283457,46.490824,7936.908996,...,NaN,0.185532,8.481475,NaN,8492.408550,9917.080489,13.413598,58.112948,3.293579,0.80
4,104,3,NaN,158.848102,476.775234,57.885627,NaN,0.895338,14.704710,6946.647629,...,10.156172,0.960983,5.891555,NaN,NaN,NaN,NaN,NaN,8.670554,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,994,2,6178.533200,740.983210,NaN,NaN,NaN,0.308196,24.638798,7713.183743,...,23.320749,0.240861,1.394708,80.649051,NaN,6650.383041,NaN,44.397726,2.867788,0.70
895,995,2,NaN,593.299039,870.879799,NaN,124.793603,NaN,63.884825,NaN,...,5.038767,0.516351,NaN,28.496001,NaN,NaN,8425.747358,22.465137,0.052199,0.65
896,996,4,4554.256473,NaN,NaN,14.160266,NaN,0.824070,NaN,NaN,...,34.810336,NaN,9.393522,NaN,5441.765851,6404.383113,9158.406543,31.959328,9.863387,0.55
897,997,1,7946.834741,468.825260,214.855042,39.863375,770.152940,NaN,NaN,9371.379207,...,55.656349,NaN,NaN,60.438731,7668.807867,2146.745410,7005.986532,75.176811,NaN,0.70
898,998,1,804.564278,715.028372,NaN,NaN,612.385011,0.925232,27.678355,8195.449961,...,NaN,NaN,NaN,71.900905,5211.089914,9465.173514,7258.940172,62.107665,7.130825,0.65

In [75]:
df_log[df_log['not_na'] >= 0.5]

,id,f,1,2,3,4,5,6,7,8,...,12,13,14,15,16,17,18,19,20,not_na
0,100,1,1181.968054,456.352191,9.427243,48.777727,NaN,NaN,50.522812,NaN,...,NaN,NaN,3.416031,29.029847,4960.121602,5426.528210,6222.788718,74.791830,2.179951,0.70
1,101,4,5996.517509,16.441583,NaN,33.278699,805.717154,0.230103,88.822875,1196.577689,...,NaN,NaN,5.950621,9.720958,NaN,7964.523286,NaN,7.709466,6.956862,0.70
2,102,1,9079.605661,853.921305,932.653249,NaN,681.923908,0.505911,NaN,2075.486992,...,NaN,0.490259,6.952456,53.581757,1691.985831,2410.502253,NaN,NaN,0.017770,0.70
3,103,4,9217.686409,397.455567,14.586806,47.116374,NaN,0.283457,46.490824,7936.908996,...,NaN,0.185532,8.481475,NaN,8492.408550,9917.080489,13.413598,58.112948,3.293579,0.80
4,104,3,NaN,158.848102,476.775234,57.885627,NaN,0.895338,14.704710,6946.647629,...,10.156172,0.960983,5.891555,NaN,NaN,NaN,NaN,NaN,8.670554,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,994,2,6178.533200,740.983210,NaN,NaN,NaN,0.308196,24.638798,7713.183743,...,23.320749,0.240861,1.394708,80.649051,NaN,6650.383041,NaN,44.397726,2.867788,0.70
895,995,2,NaN,593.299039,870.879799,NaN,124.793603,NaN,63.884825,NaN,...,5.038767,0.516351,NaN,28.496001,NaN,NaN,8425.747358,22.465137,0.052199,0.65
896,996,4,4554.256473,NaN,NaN,14.160266,NaN,0.824070,NaN,NaN,...,34.810336,NaN,9.393522,NaN,5441.765851,6404.383113,9158.406543,31.959328,9.863387,0.55
897,997,1,7946.834741,468.825260,214.855042,39.863375,770.152940,NaN,NaN,9371.379207,...,55.656349,NaN,NaN,60.438731,7668.807867,2146.745410,7005.986532,75.176811,NaN,0.70
898,998,1,804.564278,715.028372,NaN,NaN,612.385011,0.925232,27.678355,8195.449961,...,NaN,NaN,NaN,71.900905,5211.089914,9465.173514,7258.940172,62.107665,7.130825,0.65

In [77]:
df_log[df_log['not_na'] < 0.5]

,id,f,1,2,3,4,5,6,7,8,...,12,13,14,15,16,17,18,19,20,not_na
76,176,2,NaN,43.361356,47.234879,NaN,795.831574,0.143130,NaN,9528.175304,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35
119,219,2,NaN,NaN,165.062151,30.442022,204.450905,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8674.620480,8142.755615,33.293467,1.969727,0.40
140,240,1,NaN,442.439367,299.767687,NaN,NaN,0.654182,NaN,NaN,...,NaN,0.227148,NaN,33.686457,NaN,NaN,581.829675,24.595891,8.542779,0.45
169,269,3,NaN,NaN,NaN,90.469058,249.631796,NaN,NaN,4360.409920,...,NaN,NaN,8.298237,42.407605,1113.781332,NaN,NaN,73.990231,NaN,0.40
185,285,3,8951.516485,NaN,NaN,47.868742,917.208308,NaN,31.489037,6701.850632,...,NaN,NaN,NaN,NaN,NaN,1607.665747,1994.154730,NaN,NaN,0.45
227,327,4,4616.642476,NaN,NaN,NaN,300.197193,0.254358,NaN,1564.265481,...,99.841533,NaN,1.101546,NaN,7369.057356,9615.088498,NaN,NaN,7.350862,0.45
235,335,2,NaN,NaN,424.086390,NaN,NaN,NaN,86.090657,490.943545,...,58.279880,0.347883,5.137602,27.721303,NaN,NaN,5225.166997,NaN,NaN,0.45
267,367,4,7878.880514,NaN,NaN,NaN,NaN,NaN,14.269066,4292.534399,...,66.052106,0.897555,9.452555,NaN,NaN,5904.387797,NaN,NaN,9.387298,0.45
275,375,4,NaN,NaN,NaN,NaN,413.354091,NaN,81.899751,NaN,...,78.549532,0.839652,NaN,15.241606,3283.424116,3787.800006,NaN,NaN,NaN,0.40
292,392,4,NaN,NaN,NaN,36.677510,845.363404,0.910718,NaN,NaN,...,NaN,0.860681,0.593674,NaN,1751.587258,NaN,NaN,NaN,6.210452,0.45
301,401,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.645981,NaN,1.728192,NaN,9876.836565,NaN,90.158896,8.523294,0.40
304,404,4,NaN,425.085115,89.022999,26.103826,NaN,NaN,NaN,NaN,...,26.388237,0.400614,NaN,1.372029,NaN,9790.965936,NaN,51.934767,NaN,0.45
339,439,3,NaN,105.880191,NaN,31.918126,NaN,NaN,81.908060,NaN,...,18.472873,0.209071,NaN,NaN,7893.054945,NaN,NaN,26.735480,5.637132,0.45
363,463,2,6588.342505,NaN,314.968396,34.957006,NaN,NaN,NaN,NaN,...,NaN,0.360662,NaN,NaN,NaN,5529.619325,NaN,24.440751,1.409127,0.45
382,482,2,2086.754001,NaN,NaN,NaN,NaN,0.713985,NaN,NaN,...,NaN,NaN,5.844541,96.857465,8891.069386,5989.265639,NaN,40.108506,NaN,0.45
430,530,2,NaN,349.428169,NaN,NaN,NaN,0.065662,17.484424,2471.380501,...,NaN,0.219487,NaN,NaN,NaN,5496.843494,9153.260378,NaN,9.734046,0.45
472,572,1,NaN,614.107043,NaN,NaN,221.746998,NaN,NaN,NaN,...,49.031336,0.135747,0.167639,14.504030,NaN,4051.309616,2934.912593,NaN,NaN,0.45
482,582,2,NaN,166.319697,NaN,71.698750,NaN,0.553963,NaN,NaN,...,NaN,NaN,4.698693,78.965697,1054.658688,773.741285,2690.205395,NaN,2.088264,0.45
528,628,2,NaN,485.581146,627.807621,75.207483,41.792772,NaN,NaN,NaN,...,90.607974,NaN,NaN,NaN,164.511322,517.727482,NaN,6.720471,NaN,0.45
601,701,4,NaN,378.721906,NaN,NaN,745.382595,NaN,NaN,NaN,...,NaN,0.769342,NaN,76.876152,4877.813091,NaN,7360.106523,55.141626,NaN,0.45
612,712,3,NaN,NaN,NaN,NaN,NaN,NaN,11.211216,7485.357577,...,88.716923,0.426948,4.441720,NaN,NaN,NaN,4969.992581,NaN,6.314075,0.45
620,720,2,2008.039141,117.802620,103.661916,8.631888,NaN,0.095060,NaN,NaN,...,NaN,0.509421,NaN,NaN,5435.297529,1118.470838,NaN,NaN,7.272459,0.45
621,721,4,NaN,NaN,926.561803,NaN,NaN,0.070709,NaN,NaN,...,NaN,NaN,NaN,82.177843,6660.737700,3222.205843,7212.637841,NaN,3.744209,0.45
642,742,4,NaN,NaN,654.729087,NaN,567.693862,0.119426,NaN,9692.093514,...,NaN,0.671671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.40
662,762,3,6093.003212,NaN,NaN,55.015318,NaN,NaN,NaN,NaN,...,74.370427,0.194692,1.125606,NaN,NaN,7401.017524,6108.499904,NaN,NaN,0.45
692,792,2,6817.949788,NaN,NaN,57.360298,NaN,0.967370,95.614453,9723.972297,...,NaN,NaN,NaN,25.008389,4830.672900,NaN,NaN,54.640862,NaN,0.45
710,810,2,NaN,NaN,NaN,77.657891,NaN,NaN,18.989554,1683.717592,...,87.655311,NaN,5.574204,29.967627,NaN,NaN,4809.004802,NaN,4.968510,0.45
774,874,4,4432.551024,NaN,NaN,NaN,444.774946,NaN,28.892835,NaN,...,86.098543,NaN,3.525247,NaN,8200.934386,3850.906560,NaN,NaN,NaN,0.45
835,935,4,NaN,47.095555,317.815141,NaN,904.382832,NaN,98.969404,NaN,...,NaN,NaN,NaN,NaN,NaN,5868.397604,4130.580714,66.139582,NaN,0.40

In [76]:
df_log['not_na'].unique()

array([0.7 , 0.8 , 0.65, 0.5 , 0.75, 0.55, 0.6 , 0.9 , 0.85, 0.35, 0.4 ,
       0.45, 0.95])

In [33]:
#df_log.apply(lambda row : sum([pd.isna(row['f1'])]), axis = 1)

In [11]:
df_log['fill'] = df_log[clmns].sum()
df_log

,id,f,f0,f1,f2,f3,f4,f5,f6,f7,...,f12,f13,f14,f15,f16,f17,f18,f19,f20,fill
0,100,view,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,...,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,1181.968054,NaN
1,101,view,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,...,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,NaN
2,101,view,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,...,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,NaN
3,101,view,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,...,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,NaN
4,101,purchase,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,...,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,5996.517509,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,996,view,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,...,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,NaN
2229,996,view,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,...,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,NaN
2230,996,view,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,...,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,4554.256473,NaN
2231,997,click,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,...,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,7946.834741,NaN
2232,998,click,804.564278,804.564278,804.564278,804.564278,804.564278,804.564278,804.564278,804.564278,...,804.564278,804.564278,804.564278,804.564278,804.564278,804.564278,804.564278,804.564278,804.564278,NaN